/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fs-100: 0.8rem;
  --fs-200: 0.85rem;
  --fs-300: 0.9rem;
  --fs-400: 0.97rem;
  --fs-500: 1.05rem;
}

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: var(--fs-400);
  color: #bfbfbf;
}

h1,
.h1 {
  font-size: 1.67rem;
}

h2,
.h2 {
  font-size: 1.23rem;
}

.flow > * + * {
  margin-top: 1.5rem;
}

.mt-35px {
  margin-top: 35px;
}

.mt-130px {
  margin-top: 130px;
}

.mt-160px {
  margin-top: 160px;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-justify-sb {
  justify-content: space-between;
}

.container,
.grid-container {
  width: max(335px, 85vw);
  margin-inline: auto;
}

.grid-container {
  display: grid;
}

body {
  background-color: #181f2a;
  color: white;
  text-align: center;
}

.top-nav {
  margin-top: 23px;
}
.top-nav_logo {
  width: 80px;
}
.top-nav_link {
  text-decoration: none;
  color: #a6a6a6;
  font-size: var(--fs-300);
}
.top-nav_link + .top-nav_link {
  margin-left: 23px;
}

.header {
  margin-top: 50px;
}
.header_content {
  padding-inline: 15px;
}
.header p {
  padding-inline: 10px;
}

.btn {
  padding: 17px 80px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  line-height: 1;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
}

.boxes_box + .boxes_box {
  margin-top: 85px;
}
.boxes_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes_box img {
  max-width: 65px;
}
.boxes_box p {
  padding-inline: 10px;
  line-height: 1.6;
}
.boxes_box#box-security img {
  height: 66px;
}
.boxes_box h2 {
  margin: 34px 0 8px;
}

.bg-boxes {
  position: relative;
  padding: 10px 25px;
  text-align: left;
}
.bg-boxes::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  top: -6px;
  left: 30px;
  z-index: -1;
  background-image: url(../images/bg-quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-boxes > * + * {
  margin-top: 25px;
}
.bg-boxes_box {
  padding: 25px 20px 20px;
  border-radius: 5px;
  background-color: #202a3c;
}
.bg-boxes_box p {
  font-size: 0.75rem;
  line-height: 1.7;
}

.author {
  margin-top: 15px;
}
.author img {
  width: 25px;
  border-radius: 50%;
}
.author_data {
  margin-left: 8px;
}
.author_data p:first-child {
  line-height: 1.45;
  color: #dedede;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.author_data p:last-child {
  font-size: 0.6rem;
}

.card {
  text-align: left;
}
.card_img-container {
  padding-inline: 15px;
  margin-bottom: 3rem;
}
.card_body > * + * {
  margin-top: 18px;
}
.card_body h2 {
  text-align: center;
}
.card_body p {
  padding-inline: 5px;
}
.card_link {
  position: relative;
}
.card_link a {
  display: block;
  text-decoration: none;
  color: #65e2d9;
  font-size: 0.9rem;
}
.card_link-icon-container {
  width: 12px;
  margin-left: 7px;
}
.card_link-icon-container svg path {
  fill: #65e2d9;
}
.card_link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 135px;
  left: 0;
  bottom: -2px;
  background-color: #65e2d9;
}

/*# sourceMappingURL=style.css.map */
