@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --fs-100: 0.8rem;
  --fs-200: 0.85rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.05rem;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: var(--fs-400);
}
