// ## Colors

// ### Primary

$Dark-Blue-300: hsl(216, 53%, 9%); // (footer background)
$Dark-Blue-400: hsl(218, 28%, 13%); // (main background)
$Dark-Blue-500: hsl(217, 28%, 15%); // (intro and email sign up background)
$Dark-Blue-600: hsl(219, 30%, 18%); // (testimonials background)

// ### Accent

$Cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$Blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$Light-Red: hsl(0, 100%, 63%); // (error)

// ### Neutral

$White: hsl(0, 0%, 100%);
$cl-text-neutral: hsl(0, 0%, 65%);
$cl-text-neutral-200: hsl(0, 0%, 75%);
$cl-text-neutral-300: hsl(0, 0%, 87%);
