.boxes {
  &_box + &_box {
    margin-top: 85px;
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 65px;
    }

    p {
      padding-inline: 10px;
      line-height: 1.6;
    }

    &#box-security {
      img {
        height: 66px;
      }
    }

    h2 {
      margin: 34px 0 8px;
    }
  }
}

.bg-boxes {
  position: relative;
  padding: 10px 25px;
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 20px;
    top: -6px;
    left: 30px;
    z-index: -1;

    background-image: url(../images/bg-quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  > * + * {
    margin-top: 25px;
  }

  &_box {
    padding: 25px 20px 20px;
    border-radius: 5px;

    background-color: $Dark-Blue-600;

    p {
      font-size: 0.75rem;
      line-height: 1.7;
    }
  }
}

.author {
  margin-top: 15px;

  img {
    width: 25px;
    border-radius: 50%;
  }

  &_data {
    margin-left: 8px;

    p:first-child {
      line-height: 1.45;
      color: $cl-text-neutral-300;
      font-weight: 700;
      letter-spacing: 0.8px;
    }

    p:last-child {
      font-size: 0.6rem;
    }
  }
}

.cta {
  padding: 40px 30px 37px;
  border-radius: 10px;

  position: relative;
  z-index: 1;

  background-color: $Dark-Blue-500;

  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.35);

  p {
    margin: 15px 0 30px;
    line-height: 1.55;
  }

  .btn,
  input {
    width: 100%;
  }

  .btn {
    margin-top: 23px;
    padding-inline: 20px;
  }

  input {
    border-radius: 30px;
    padding: 10px 30px;

    line-height: 2;

    &::placeholder {
      font-size: 0.745rem;
      color: $cl-text-neutral-200;
    }
  }
}
