.footer {
  margin-top: -180px;
  padding-top: 255px;

  background-color: $Dark-Blue-300;

  &_logo {
    margin-bottom: 40px;
  }

  address {
    text-align: left;
    font-style: normal;

    .flex {
      align-items: start;
      img {
        margin-top: 7px;
      }
    }
  }

  &_contact,
  &_contact div:last-child {
    margin-top: 20px;
  }

  &_contact {
    div:first-child {
      img {
        height: 13px;
      }
    }
  }

  .flex {
    gap: 20px;
  }
}

.nav_link,
.footer_addres-text {
  font-size: 1.15rem;
}

.nav {
  margin-block: 80px;

  ul + ul {
    margin-top: 45px;
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;

    > li + li {
      margin-top: 1rem;
    }
  }

  &_link {
    text-decoration: none;
    color: $cl-text-neutral-200;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.social {
  margin-inline: auto;
  margin-bottom: 3rem;

  div:first-child {
    svg {
      height: 12px;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 27px;
    height: 27px;

    padding: 6px;

    border: 1px solid $White;
    border-radius: 50%;

    &:hover {
      border-color: $Cyan;

      svg path {
        fill: $Cyan;
      }
    }
  }

  svg {
    path {
      fill: $White;
    }
  }
}
