.top-nav {
  margin-top: 23px;

  &_logo {
    width: 80px;
  }

  &_link {
    text-decoration: none;
    color: $White;
    font-size: var(--fs-300);

    & + & {
      margin-left: 23px;
    }

    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
